* {
    text-decoration: none;
    color:black;
}

header {
    background-color: #ff2;
    height:320px;
    display:flex;
    align-items: center;
    justify-content: center;
}

header img {
    position:absolute;
    left:10px;
    top:0px;
}

.content {
    margin:30px;
}

.anderepaginaknop {
    border: 1px solid black;
    border-radius: 15px;
    font-size: 30px;
    padding: 5px;
}

.citation {
    background-color: #f0f0f0;
    padding:10px;
    border-radius: 10px;
}

header h1 {
    margin:0;
    font-size: 300px;
    z-index: 100;
}

body {
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}