* {
    /* Geen lijntje onder links, links krijgen geen kleur (blauw / paars) */
    text-decoration: none;
    color:black;
}

body {
    margin:0;
    font-family: "Roboto";
}

header {
    background-color: rgb(235, 50, 50);
    /* De hoogte van de header wordt bepaald op basis van de paginabreedte; De tekst en afbeeldingen schalen mee (minimum van 100px zorgt dat tekst nooit buiten de header komt) */
    height: clamp(100px, 12.5vw, calc(infinity * 1px));
    /* Tekst centreren */
    display:flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin:0;
    /* Zorgt ervoor dat de tekst altijd boven de afbeelding(en) staat */
    z-index: calc(infinity);
}

/* Nu position:absolute zorgt ervoor dat je bijv. right: 30px kan doen. Gebruikt om de afbeeldingen in de header te positioneren. */ 
header img {
    position:absolute;
}

/* Alles op een pagina dat niet de header / footer is krijgt een margin van 30px. Als je dit in de body zet krijgt de hele pagina (ook header en footer ookal staan die er niet in) 30px marge en dat is natuurlijk niet de bedoeling */
.content {
    margin:30px;
}

/* Custom knop gemaakt van een link */
.anderepaginaknop {
    border: 1px solid black;
    border-radius: 15px;
    font-size: 25px;
    padding: 5px;
    padding-right: 10px;
}

footer {
    height:50px;
    background-color: rgb(250,250,50);
    display:flex;
    justify-content: center;
}
