* {
    text-decoration: none;
    color:black;
}

body {
    margin:0;
    font-family: "Roboto";
}

header {
    background-color: rgb(255, 50, 50);
    height:50vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin:0;
    z-index: 100;
}

header img {
    position:absolute;
    left:10px;
    top:2.5vh;
    height: 45%;
}

.content {
    margin:30px;
}

.anderepaginaknop {
    border: 1px solid black;
    border-radius: 15px;
    font-size: 25px;
    padding: 5px;
    padding-right: 10px;
}

footer {
    height:50px;
    background-color: rgb(255,255,50);
    display:flex;
    justify-content: center;
}